body {
  font-family: "Courier New", monospace;
  background: radial-gradient(circle, #0f0c29, #302b63, #24243e);
  color: #00ffcc;
  text-align: center;
  height: 100vh;
  margin: 0;
}
.container {
  padding-top: 10%;
}
button {
  background: #00ffcc;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  color: #000;
  border-radius: 8px;
}
button:hover {
  background: #00ffaa;
}
#output {
  margin-top: 20px;
  font-size: 18px;
}
